#hidden-input-name, #hidden-prod-link {
  display: none;
}
//Form styles
div.wpcf7 input,
div.wpcf7 textarea {
  @include input-text;
  @include input-style;
}
div.wpcf7 textarea {
  height: size(192);
}
div.wpcf7 input[type="submit"] {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff;
  background-color: $green-main;
  color: $gray-main;
  @include mid-title;
  text-align: center;
  white-space: normal;
  transition: transform .5s;
  &:hover {
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
.form-title-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
  img {
	max-height: size(45);
  }
}
.form-title {
  text-shadow: 0 1px 12px rgba(0, 0, 0, 0.88);
  color: #ffffff;
  font-family: $almoni;
  font-size: size(76);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(60);
  text-align: center;
}
.form-subtitle {
  text-shadow: 0 1px 13px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-size: size(44);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(48);
  margin-bottom: 30px;
  text-align: center;
}
