#MainNav{
  ul{
	display: flex;
	li{
	  @include d-center;
	  padding: 0 12px;
	  a{
		font-size: size(20);
		line-height: size(20);
		@include d-center;
		color: #ffffff;
		text-shadow: 0 1px 13px rgba(0, 0, 0, 0.75);
		transition: text-shadow .5s;
		&:hover {
		  color: #ffffff;
		  text-shadow: 1px 0 0 #ffffff;
		  transition: text-shadow .5s;
		}
	  }
	}
  }
}
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.86);
  padding: 10px 0;
  .hamburger {
	padding: 0;
	display: flex;
  }
  .hamburger-box {
	width: 30px;
  }
  .hamburger-inner::before {
	top: -8px;
  }
  .hamburger-inner::after {
	bottom: -8px;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #ffffff;
	width: 30px;
	border-radius: 0;
	height: 3px;
  }
}
.header-btn {
  @include d-center;
  position: relative;
  .count-circle {
	position: absolute;
	right: -5px;
	top: -5px;
	width: 14px;
	height: 14px;
	border: 1px solid #34c756;
	background-color: #ffffff;
	@include d-center;
	font-size: 14px;
	color: #3acf58;
	font-weight: 700;
	text-align: center;
	border-radius: 50%;
  }
  img,
  svg {
	width: size(37);
	min-width: size(37);
  }
}
.logo {
  @include d-center;
  img {
	max-height: size(40);
  }
}
.triggers-col {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 20%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.trigger-item {
  @include d-center;
  width: size(45);
  cursor: pointer;
  margin-bottom: 14px;
  &.search-trigger {
	height: size(44);
	background-color: $gray-main;
	@include d-center;
	padding: 9px;
  }
}
.pop-trigger {
  padding: 12px 0;
  box-shadow: -8px 0 5px rgba(36, 48, 32, 0.66);
  border: 1px solid #ffffff;
  background-color: $green-main;
  color: $gray-main;
  font-size: size(23);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(54);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.header-tel {
  @include d-center;
  img {
	width: 17px;
	margin-left: 8px;
  }
}
.header-tel-number {
  @include mid-text;
  font-weight: 300;
}
.pop-form, .pop-form-search {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form, .float-form-search {
  position: relative;
  width: 100%;
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  padding: size(16);
  &.show-float-form{
	opacity: 1;
	transform: translateY(0);
  }
}
.form-wrapper-pop {
  position: relative;
  @include d-center;
  flex-direction: column;
  padding: size(60) 7%;
  background-color: $gray-main;
  background-image: url("../img/pop-back.png");
  @include back-img;
}
.close-form, .close-form-search {
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  @include d-center;
  border: 1px solid #ffffff;
  background-color: #000000;
  border-radius: 50%;
  text-shadow: 0 1px 13px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18.72px;
  text-align: center;
  transition: background-color .5s;
  &:hover {
	background-color: $green-main;
	transition: background-color .5s;
  }
}
.search-form {
  @include d-center;
  input[type="search"] {
	@include input-style;
	@include input-text;
	flex-grow: 1;
	height: 2rem;
  }
  input[type="submit"] {
	width: 2rem;
	height: 2rem;
	background-image: url("../iconsall/fix-search.png");
	background-color: $gray-main;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1.2rem;
	transition: transform .5s;
	&:hover {
	  transform: scale(0.95, 0.95);
	  transition: transform .5s;
	}
  }
}
.langs-wrap {
  @include d-center;
  min-height: size(30);
  border: 1px solid $green-main;
  padding: 3px 7px 1px 7px;
  transition: background-color .5s;
  &:hover {
	background-color: #ffffff;
	transition: background-color .5s;
	li a {
	  color: $gray-main;
	  transition: color .5s;
	}
  }
  li.active {
	display: none;
  }
  li a {
	@include base-text;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	transition: color .5s;
  }
}
.drop-menu {
  display: none;
  position: absolute;
  right: 15px;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid $green-main;
  background-color: #373535;
  width: 250px;
  z-index: 9999;
  padding: 10px size(60);
  top: calc(100% + 10px);
  overflow-y: auto;
  nav {
	width: 100%;
  }
  ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	li{
	  display: flex;
	  align-items: baseline;
	  margin-bottom: 25px;
	  a {
		@include base-text;
		font-weight: 700;
		text-align: center;
		margin-bottom: 0.5rem;
		transition: color .5s;
		&:hover {
		  color: $green-main;
		  transition: color .5s;
		}
	  }
	}
  }
}
.login-link-header {
  @include base-text;
  text-align: center;
  transition: color .5s;
  margin-left: 10px;
  &:hover {
	color: $green-main;
	transition: color .5s;
  }
}
.woocommerce .woocommerce-breadcrumb , .woocommerce .woocommerce-breadcrumb a {
  text-shadow: 0 1px 13px rgba(0, 0, 0, 0.75);
  @include base-text;
  color: #ffffff;
  font-style: normal;
  letter-spacing: normal;
  transition: color .5s;
  a:hover {
	color: $green-main;
	transition: color .5s;
  }
}



//Footer
.footer-main {
  position: relative;
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #000000;
}
.foo-menu {
  padding-top: 1rem;
}
.foo-title {
  color: #ffffff;
  font-size: size(36);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(40);
  margin-bottom: 15px;
}
.facebook-widget {
  overflow-x: hidden;
}
footer {
  position: relative;
  li {
	a {
	  display: flex;
	  font-size: size(22);
	  line-height: size(27);
	  font-weight: 300;
	  margin-bottom: 10px;
	  color: #ffffff;
	  transition: color .5s;
	  &:hover {
		color: $green-main;
		transition: color .5s;
	  }
	}
  }
}
#go-top {
  position: absolute;
  top: -1.5rem;
  right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  img {
	width: size(31);
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
}
.top-text {
  @include base-text;
  text-align: center;
  font-family: $almoni;
  font-weight: 700;
}
//Footer editions
.contact-list li a {
  display: flex;
  align-items: center;
  font-weight: 700;
  img {
	width: size(19);
	margin-left: 6px;
  }
}
