/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1920px) {
  html{
	font-size: 22px;
  }
}
@media (min-width: 1500px) {
  .home-cat-col {
	flex: 0 0 20%;
	max-width: 20%;
  }
}
@media (max-width: 1500px) {
  .post-card {
	padding: 0;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 20px;
  }
  .container {
	max-width: 78%;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 19px;
  }
  .post-card {
	padding: 0 5%;
  }
  .side-title-post {
	padding: 18px 10% 18px 25px;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  .brown-back {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
  }
  .home-slider-wrap {
	padding: 0;
	.slider-col-content {
	  padding-bottom: 5rem;
	}
	.slider-img-col img {
	  opacity: 1;
	}
  }
  .contacts-footer-menu {
	order: 2;
  }
  .links-footer-menu {
	order: 3;
	margin-top: 2rem;
  }
  .prods-footer-menu {
	order: 4;
	margin-top: 2rem;
  }
  .tel-col {
	padding: 0;
  }
  #MainNav ul li {
	padding: 0 7px;
  }
  .header-tel {
	padding: 7px;
	min-height: size(30);
	border: 1px solid $green-main;
	img {
	  margin: 0;
	}
  }
  .header-tel-number {
	display: none;
  }
  .product-main-title.desctop-title {
	display: none;
  }
  .row-prod-title-mob {
	display: flex;
  }
  .product-page-gal-col, .foo-logo-col {
	order: -1;
	margin-bottom: 2rem;
  }
  .foo-form-wrap {
	.form-title {
	  text-align: center;
	}
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  #MainNav, #MobNavBtn, .col-none {
	display: none;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  right: -14px;
	}
  }
  .side-title-about, .side-title-post {
	padding: 18px 15px !important;
  }
  .post-image-wrap {
	width: 100%;
	float: unset;
	margin: 0 0 2rem 0;
  }
  .main-link {
	min-width: unset;
  }
  .main-title {
	font-size: size(50);
	line-height: size(55);
  }
  .main-subtitle {
	font-size: size(40);
	line-height: size(45);
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
  .header-tel {
	position: fixed;
	right: 10px;
	bottom: 10px;
	background-color: $gray-main;
	z-index: 9999;
  }
  .langs-col {
	padding: 0;
  }
  .main-slide {
	background-image: none !important;
	padding: 200px 0 100px 0;
	min-height: unset;
  }
}
@media (max-width: 370px) {
  .header-logo-col {
	padding: 0;
  }
}
