body {
  text-align: left;
  direction: ltr;
}

.wpcf7-form * {
  direction: ltr !important;
}
.wpcf7-form ::placeholder {
  text-align: left;
}
.wpcf7-form ::-webkit-input-placeholder, .wpcf7-form :-moz-placeholder, .wpcf7-form :-ms-input-placeholder {
  text-align: left;
}

.header-tel img {
  margin-right: 8px;
  margin-left: 0;
}

.search-form {
  direction: ltr !important;
}

.drop-menu {
  left: 15px;
  right: unset;
}

.login-link-header {
  margin-left: 0;
  margin-right: 10px;
}

.contact-info-footer .contact-icon-wrap {
  margin-right: 10px;
  margin-left: 0;
}

.post-link {
  font-size: 1.2rem;
  line-height: 1.1rem;
  background-image: url("../iconsall/arrow-link-right.png");
  background-position: calc(100% - 3px) center;
  padding-right: 35px;
  padding-left: 0;
}
.post-link:hover {
  background-position: right center;
}

.q-icon {
  right: unset;
  left: 0;
}

.q-title-body {
  text-align: left;
}

.answer-body {
  background-color: transparent;
  padding: 0 20px 33px 3.5rem;
}

.side-title {
  padding: 18px 25px 18px calc(5% + 15px);
}

.side-title-about {
  padding: 18px 25px 18px calc(11% + 15px);
}

.sidebar-block .card-header {
  padding: 0 2.25rem 0 0;
}
.sidebar-block .accordion-trigger {
  left: unset;
  right: 0;
}
.sidebar-block .box-list label {
  margin: 0 0 0 8px;
}
.sidebar-block .card-body {
  padding: 14px 2rem 14px 0;
}

.inputs-wrapper {
  padding-left: 0;
  padding-right: 2rem;
}
.inputs-wrapper .button-send {
  margin-right: 6px;
  margin-left: unset;
}
.inputs-wrapper .button-reset {
  margin-left: 6px;
  margin-right: unset;
}

.home-cats-children {
  padding: 19px 10% 15px 1.4rem;
}

.post-image-wrap {
  float: right;
  margin: 0 0 5% 5%;
}

.side-title-post {
  padding: 18px 25px 18px 15%;
}

.gallery-trigger {
  left: 0;
  right: unset;
}

.contact-list li a img {
  margin-right: 6px;
  margin-left: 0;
}

#go-top {
  right: unset;
  left: 5%;
}

.triggers-col {
  right: 0;
  left: unset;
}

.brown-back {
  right: unset;
  left: 0;
}

.foo-form-wrap .form-title {
  text-align: left;
}

@media (max-width: 992px) {
  .header-tel img {
    margin: 0;
  }

  .foo-form-wrap .form-title {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .side-title-post {
    padding: 18px 25px 18px 10%;
  }
}

/*# sourceMappingURL=ltr.css.map */
