body{
  text-align: left;
  direction: ltr;
}
$base-size: 20;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}
.wpcf7-form {
  * {
	direction: ltr !important;
  }
  ::placeholder {
	text-align: left;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	text-align: left;
  }
}
.header-tel {
  img {
	margin-right: 8px;
	margin-left: 0;
  }
}
.search-form {
  direction: ltr !important;
}
.drop-menu {
  left: 15px;
  right: unset;
}
.login-link-header {
  margin-left: 0;
  margin-right: 10px;
}
.contact-info-footer {
  .contact-icon-wrap {
	margin-right: 10px;
	margin-left: 0;
  }
}
.post-link {
  font-size: size(24);
  line-height: size(22);
  background-image: url("../iconsall/arrow-link-right.png");
  background-position: calc(100% - 3px) center;
  padding-right: 35px;
  padding-left: 0;
  &:hover {
	background-position: right center;
  }
}
.q-icon {
  right: unset;
  left: 0;
}
.q-title-body {
  text-align: left;
}
.answer-body {
  background-color: transparent;
  padding: 0 20px 33px size(70);
}
.side-title {
  padding: 18px 25px 18px calc(5% + 15px);
}
.side-title-about {
  padding: 18px 25px 18px calc(11% + 15px);
}
.sidebar-block {
  .card-header {
	padding: 0 size(45) 0 0;
  }
  .accordion-trigger {
	left: unset;
	right: 0;
  }
  .box-list label {
	margin: 0 0 0 8px;
  }
  .card-body {
	padding: 14px size(40) 14px 0;
  }
}
.inputs-wrapper {
  padding-left: 0;
  padding-right: size(40);
  .button-send {
	margin-right: 6px;
	margin-left: unset;
  }
  .button-reset {
	margin-left: 6px;
	margin-right: unset;
  }
}
.home-cats-children {
  padding: 19px 10% 15px size(28);
}
.post-image-wrap {
  float: right;
  margin: 0 0 5% 5%;
}
.side-title-post {
  padding: 18px 25px 18px 15%;
}
.gallery-trigger {
  left: 0;
  right: unset;
}
.contact-list li a {
  img {
	margin-right: 6px;
	margin-left: 0;
  }
}
#go-top {
  right: unset;
  left: 5%;
}
.triggers-col {
  right: 0;
  left: unset;
}
.brown-back {
  right: unset;
  left: 0;
}
.foo-form-wrap {
  .form-title {
	text-align: left;
  }
}
//MEDIA

@media (max-width: 992px) {
  .header-tel {
	img {
	  margin: 0;
	}
  }
  .foo-form-wrap {
	.form-title {
	  text-align: center;
	}
  }
}
@media (max-width: 1200px) {
  .side-title-post {
	padding: 18px 25px 18px 10%;
  }
}
