@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header-footer";
@import "forms";
@import "partials";

body{
  font-family: $almoni-tzar;
  text-align: right;
  color: $gray-main;
}
.base-title {
  @include base-title;
  text-align: center;
}
.base-output {
  * {
	color: #ffffff;
  }
  h1, h2 {
	@include base-title;
  }
  h3 {
	@include mid-title;
  }
  h4 {
	font-size: size(36);
	line-height: size(38);
  }
  h5 {
	font-size: size(30);
	line-height: size(32);
  }
  h6 {
	@include mid-text;
  }
  h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
  }
  p, li {
	@include base-text;
	font-weight: 300;
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
}
.woocommerce-product-details__short-description {
  p {
	font-size: size(23);
	line-height: normal;
  }
}
.post-output {
  p {
	margin-bottom: 30px;
  }
}
.cats-text-output {
  h1, h2 {
	text-shadow: 0 1px 12px rgba(0, 0, 0, 0.88);
	color: #ffffff;
	font-size: size(76);
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(60);
	text-align: center;
	margin-bottom: 10px;
  }
  h3 {
	text-shadow: 0 1px 13px rgba(0, 0, 0, 0.75);
	color: #ffffff;
	font-size: size(44);
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(48);
	margin-bottom: 30px;
	text-align: center;
  }
}
.page-description {
  p, li {
	font-size: size(30);
	line-height: size(32);
  }
}
.block-output {
  h2 {
	font-size: size(50);
	line-height: size(52);
  }
  p, li {
	font-size: size(25);
	line-height: size(28);
	font-weight: 400;
  }
}
.dots-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot-item {
  @include d-center;
  border-radius: 50%;
  margin: 0 15px;
  width: size(33);
  min-width: size(33);
  height: size(33);
  background-color: $green-main;
}
//Main homepage slider
.main-title, .main-subtitle {
  text-shadow: 0 1px 46px #000000;
  color: #ffffff;
  font-family: $almoni;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}
.main-title {
  font-size: size(80);
  line-height: size(75);
}
.main-subtitle {
  font-size: size(60);
  line-height: size(65);
  margin-bottom: 20px;
}
.main-block-home {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.main-slide {
  @include back-img;
  min-height: 1000px;
  padding: 450px 0 150px 0;
  background-color: #000000;
  &:after {
	@include overlay;
	content: '';
	background-image: url("../img/home-overlay.png");
	@include back-img;
  }
}
.content-slide-in {
  position: relative;
  z-index: 3;
}
//Clients block
.clients-block-title {
  margin-top: -2rem;
}
.clients-title {
  @include mid-title;
  text-shadow: -4px 5px 29px #232323;
  color: #ffffff;
  text-align: center;
}
.clients-line {
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
  padding: 18px 0;
  .slick-list, .slick-track {
	display: flex !important;
  }
}
.client-logo {
  @include d-center;
  width: 100%;
  height: 100%;
  img {
	max-height: size(70);
  }
}
.h-slider-title {
  color: #ffffff;
  font-size: size(50);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(65);
  text-align: center;
  margin-bottom: size(76);
  margin-top: -20px;
}
.home-slider-wrap {
  position: relative;
  margin-top: 3rem;
  padding: size(33) 0 5rem 0;
  background-size: 50% auto;
  background-position: left center;
  background-repeat: no-repeat;
  .slider-img-col {
	img {
	  opacity: 0;
	}
  }
}
.brown-back {
  position: absolute;
  top: size(33);
  right: 0;
  width: 50%;
  height: calc(100% - 5rem);
  background-color: $gray-main;
}
.foo-form-wrap {
  .form-title {
	text-align: right;
  }
}
.foo-form-subtitle {
  text-shadow: 0 1px 13px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-size: size(57);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(60);
}
.foo-form-wrap {
  margin-bottom: size(50);
}
//Contact page
.contact-page, .page-body {
  background-image: url("../img/contact-back.png");
  @include back-img;
  padding-top: 100px;
  padding-bottom: 80px;
}
.contact-item {
  margin-bottom: 20px;
}
.contact-info-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .contact-icon-wrap {
	min-width: size(30);
	@include d-center;
	margin-left: 10px;
  }
  img {
	max-width: size(28);
  }
  span {
	color: #ffffff;
	font-size: size(24);
	line-height: size(28);
	font-weight: 700;
	transition: color .5s;
  }
  &:hover {
	color: $green-main;
	transition: color .5s;
  }
}
.page-body {
  .base-output input {
	color: $gray-main;
  }
  .base-output .quantity input {
	color: #fff;
  }
  .checkout {
	.form-row {
	  flex-direction: column;
	}
  }
  .check-col {
	.woocommerce-input-wrapper {
	  flex-grow: 1;
	}
  }
  .woocommerce-input-wrapper {
	input, select, textarea, .select2-container, .select2-container .select2-selection--single {
	  height: size(54);
	  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
	  background-color: #ffffff;
	}
  }
  .select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
	height: 100%;
	display: flex;
	align-items: center;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%;
  }
  ul.woocommerce-error {
	margin: 1rem 0;
	padding: 1rem;
  }
}
//Repeat form
.repeat-form-block {
  box-shadow: -4px 5px 35px rgba(35, 35, 35, 0.35);
  background-color: $gray-main;
  padding: size(83) 0 size(35) 0;
}
.granit-form {
  margin: 45px 0;
  .repeat-form-block {
	@include back-img;
	background-image: url("../img/form-back.png");
  }
  .form-subtitle {
	font-size: size(50);
	line-height: size(58);
	margin-bottom: 25px;
  }
}
.granit-form-post {
  .dotted-form {
	margin-top: 0;
  }
  .dots-line {
	display: none;
  }
  .repeat-form-block {
	padding: size(45) 0 size(35) 0;
  }
  .form-subtitle {
	display: none;
  }
}
.base-link, .more-link, .main-link {
  @include d-center;
  margin-top: 10px;
  min-height: size(36);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff;
  background-color: $green-main;
  padding: 5px size(37);
  color: $gray-main;
  font-size: size(26);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  cursor: pointer;
  transition: background-color, color .5s;
  &:hover {
	color: #ffffff;
	background-color: $gray-main;
	transition: background-color, color .5s;
  }
  &.hide {
	display: none;
  }
}
.main-link {
  min-height: size(54);
  color: #010101;
  font-size: size(39);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(50);
  min-width: size(450);
}
.dotted-form {
  margin-top: -4.5rem;
}
//Shop
.base-shop-title {
  text-shadow: 0 0 33px rgba(35, 35, 35, 0.95);
  color: #ffffff;
  font-size: size(74);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(80);
  text-align: center;
}
//side positioned title
.side-title {
  background-color: $gray-main;
  min-height: size(60);
  margin-bottom: 60px;
  color: #ffffff;
  font-size: size(50);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(70);
  text-align: center;
  padding: 18px calc(5% + 15px) 18px 25px;
}
.side-title-post {
  min-height: size(80);
  font-weight: 700;
  margin-bottom: 30px;
  padding: 18px 15% 18px 25px;
}
.side-title-about {
  padding: 18px calc(11% + 15px) 18px 25px;
  .form-title-wrap {
	margin-bottom: 0;
  }
}
.home-about-block {
  padding-bottom: 50px;
}
.home-main-block {
  background-color: $gray-main;
  min-height: 1000px;
}
.homepage-body {
  background-color: $gray-main;
  background-image: url("../img/home-back-last.png");
  @include back-img;
}
.pt-90 {
  padding-top: size(90);
}
.pb-190 {
  padding-top: 76px;
  padding-bottom: 140px;
}
.home-posts {
  display: flex;;
  flex-direction: column;
  align-items: flex-start;
}
.video-item {
  position: relative;
  @include d-center;
  @include back-img;
  border: 4px solid #303031;
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 15px;
  &:after {
	content: '';
	display: block;
	padding-bottom: 68%;
  }
  img {
	width: 18%;
  }
}
.play-video {
  @include overlay;
  @include d-center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.38);
  transition: background-color .5s;
  &:hover {
	background-color: rgba(0, 0, 0, 0);
	transition: background-color .5s;
  }
}
.video-title {
  @include base-text;
  font-weight: 700;
  text-align: center;
}
.cats-block {
  position: relative;
  z-index: 3;
  box-shadow: -4px 5px 46px #232323;
  background-color: $gray-main;
  background-image: url("../img/cats-back.png");
  @include back-img;
  padding: size(87) 0 60px 0;
}
.home-cat-col {
  margin-bottom: 30px;
}
.h-cat-name {
  width: 100%;
  padding: 10px;
  height: 100%;
  @include mid-text;
  color: $gray-main;
  font-weight: 400;
  text-align: center;
  &:hover {
	color: $gray-main;
  }
}
.main-cat-img {
  width: 100%;
  @include back-img;
  display: flex;
  background-color: #ffffff;
  &:after {
	content: '';
	display: block;
	padding-bottom: 71.5%;
  }
}
.main-cat-col {
  margin-bottom: size(75);
}
.main-cat-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0 20px;
  &:hover .h-cat-name {
	background-color: $gray-main;
	color: #ffffff;
	transition: color, background-color .5s;
	&:after {
	  background-image: url("../iconsall/bottom-hover.png");
	  transition: background-image .5s;
	}
  }
  .h-cat-name {
	position: relative;
	flex-grow: 1;
	min-height: size(54);
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
	transition: color, background-color .5s;
	&:after {
	  position: absolute;
	  content: '';
	  display: block;
	  background-image: url("../iconsall/bottom-white.png");
	  width: 100%;
	  height: size(23);
	  right: 0;
	  top: 100%;
	  background-size: 100%;
	  background-repeat: no-repeat;
	  background-position: center;
	  transition: background-image .5s;
	}
  }
}
.home-child-cat {
  @include base-text;
  color: $gray-main;
  transition: color .5s;
  &:hover {
	color: $green-main;
	transition: color .5s;
  }
}
.home-cat-item {
  position: relative;
  @include d-center;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  min-height: size(54);
  &:after {
	position: absolute;
	content: '';
	display: block;
	background-image: url("../iconsall/bottom-white.png");
	width: 100%;
	height: size(19);
	right: 0;
	top: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-image .5s;
  }
  &:hover {
	&:after {
	  background-image: url("../iconsall/bottom-hover.png");
	  transition: background-image .5s;
	}
  }
}
.home-cats-children {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  right: 0;
  z-index: 11;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  padding: 19px size(28) 15px 10%;
}
.cats-block-title {
  text-shadow: 0 0 33px rgba(35, 35, 35, 0.95);
  font-size: size(74);
  font-weight: 700;
  line-height: size(76);
}
.cats-block-title, .cats-block-subtitle {
  color: #ffffff;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
}
.cats-block-subtitle {
  @include mid-title;
  text-shadow: 0 0 12px rgba(35, 35, 35, 0.95);
  font-weight: 400;
  margin-bottom: 30px;
}
//Counter homepage
.counter-block-wrap {
  padding: size(60) 0;
}
.counter-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}
.counter-number-wrap {
  border: 3px solid $green-main;
  width: size(235);
  height: size(235);
  padding: 3px;
  background-color: transparent;
  margin-bottom: 30px;
}
.counter-number-wrap, .counter-number {
  @include d-center;
  border-radius: 50%;
}
.counter-number  {
  @include d-center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: $gray-main;
  color: #ffffff;
  font-size: size(112);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(200);
  text-align: center;
}
.counter-title {
  color: #ffffff;
  font-size: size(37);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(40);
  text-align: center;
}
//Post
.same-posts {
  .post-card {
	padding: 0 !important;
  }
}
.post-image-wrap {
  width: 35%;
  float: left;
  img {
	width: 100%;
  }
  margin: 0 5% 5% 0;
}
//Product
.product-page-info-col {
  .summary {
	float: unset !important;
	width: auto !important;
  }
}
.socials-share {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.prod-logo {
  max-width: 75%;
}
.product-main-title {
  color: #ffffff;
  font-size: size(45);
  line-height: size(40);
  font-weight: 700;
  margin-bottom: 5px;
}
.row-prod-title-mob {
  display: none;
}
.product-sku-main {
  font-size: size(32);
  line-height: size(36);
  font-weight: 400;
  color: #ffffff;
}
.share-text {
  font-weight: 700;
  color: #ffffff;
}
.block-title {
  color: #ffffff;
  font-size: size(50);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(65);
  text-align: center;
}
.related-title-wrap {
  width: 100%;
  background-color: $gray-main;
  padding: 20px 0;
  margin-bottom: 30px;
}
.prod-form-wrap {
  margin-top: 44px;
}
.big-slider-item {
  position: relative;
}
.gallery-trigger {
  position: absolute;
  right: 0;
  bottom: 0;
  @include d-center;
  width: size(32);
  cursor: pointer;
  height: size(32);
  background-color: $gray-main;
  padding: 5px;
  z-index: 6;
}
.woocommerce .woocommerce-pagination ul.page-numbers li, .woocommerce-page .woocommerce-pagination ul.page-numbers li {
  border: none;
  margin: 3px;
  span, a {
	border: 1px solid $gray-main !important;
	background-color: $gray-main !important;
	min-width: size(27);
	min-height: size(27);
	color: #ffffff !important;
	padding: 3px;
	font-size: size(30);
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	&.current {
	  border: 1px solid $green-main !important;
	}
	&.next {
	  border: 1px solid #ffffff !important;
	  background-color: transparent !important;
	  color: #ffffff !important;
	  font-size: size(23);
	  font-weight: 400;
	  font-style: normal;
	  letter-spacing: normal;
	  line-height: size(27);
	  text-align: center;
	  padding: 3px 20px;
	}
  }
}
.woocommerce nav.woocommerce-pagination ul {
  display: flex;
  clear: unset;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  border: none !important;
  justify-content: center;
  align-items: stretch;
}

@import "responsive";
